.stu {
    width: 200px;

    padding: 30px;
    margin: 25px;
    text-align: center;
    font-family: comic sans ms;
    font-size: 25px;
    border: solid 1px gray;
    box-shadow: 0 5px 2px gray;
    display: inline-block;
}